.Card {
    height: 100%;
    top: 70px;
    display: grid;
    row-gap: 10px;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
    background: var(--cardBG);
    box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
    overflow: hidden;
}

.imageDiv {
    height: 180px;
    width: 100%;
    overflow: hidden;


}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 2s ease;
}

.Title {
    color: black;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .Card {
        height: 100%;
        top: 70px;
        display: grid;
        row-gap: 10px;
        padding: 1rem;
        border-radius: 10px;
        align-items: center;
        background: var(--cardBG);
        box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
        overflow: hidden;
    }

    .imageDiv {
        height: 180px;
        width: 100%;
        overflow: hidden;


    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 2s ease;
    }

    .Title {
        color: black;
        font-size: 1.25rem;
    }

}

.card {
    width: 100%;
    margin-left: 45px;
    margin-top: 10px;
    width: 75%;
    display: inline-flex;
    background: scroll;


}

.carddv {
    margin-top: 70px;
}

.btn {
    margin-top: 0%;
    margin-left: 10%;
    justify-content: space-between;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.725);

}



.titl {
    color: rgb(31, 95, 106);


}

.imgcrd {
    margin-top: 20px;
    width: 90%;
    margin-left: 10px;




}

.crdtxt {
    color: black;
    margin-left: 0px;
    width: 100%;



}















@media screen and (min-width: 1240px) {
    .card {

        margin-left: 25px;
        margin-top: 170px;
        width: 270px;


    }

    .btn {
        justify-content: space-between;
        margin-left: 10px;
        margin-top: 0px;

    }

    .crdtxt {
        color: black;
        margin-left: 0px;
        width: 100%;



    }

    .crdtxt {

        margin-left: 300px;
        width: 50px;


    }

    .imgcrd {

        width: 270px;
        margin-left: 0px;




    }




}